body {
  background-color: #0606d2;
  opacity: 0.8;
  background-image:  linear-gradient(30deg, #46c526 12%, transparent 12.5%, transparent 87%, #46c526 87.5%, #46c526), linear-gradient(150deg, #46c526 12%, transparent 12.5%, transparent 87%, #46c526 87.5%, #46c526), linear-gradient(30deg, #46c526 12%, transparent 12.5%, transparent 87%, #46c526 87.5%, #46c526), linear-gradient(150deg, #46c526 12%, transparent 12.5%, transparent 87%, #46c526 87.5%, #46c526), linear-gradient(60deg, #46c52677 25%, transparent 25.5%, transparent 75%, #46c52677 75%, #46c52677), linear-gradient(60deg, #46c52677 25%, transparent 25.5%, transparent 75%, #46c52677 75%, #46c52677);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
}

.container {
  color: white;
  margin: auto;
  width: 50%;
  border: none;
  padding: 10px;
  background-color: black;
}

input, textarea {
  width: 100%;
}

.message {
  color: red;
}