<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width. initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Anonymous Emails and Reminders</title>
  <meta name="description" content="Use this web tool to send emails anonymously as well as reminders to yourself">
  <meta name="author" content="Nadav Salomon">

  <link rel="stylesheet" href="static/styles.css?v=recent">

</head>

<body>
    <div class="container">
        Thank you!<br><br>Your email has been sent (unless you typed the email incorrectly).<br><br><a href="http://flaskemailreminder.herokuapp.com">Click here</a> to send another email.
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>